<!DOCTYPE html>
<html lang="en">
<head>
    <title>Töötaja haldussüsteem</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="485896048610-m7qu38fi7o06822jlpm8odo612a73pl7.apps.googleusercontent.com"
          content="AIzaSyDMMAvlcNTyJdo6Z4EZjQ08uofNWRStrIs.apps.googleusercontent.com">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <!--===============================================================================================-->
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>
    <!-- END Pre-requisites -->

    <script>
        function start() {
          gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
              client_id: '485896048610-rk8i4i4fkh9c1ss58207kl3ltoibpsaa.apps.googleusercontent.com',
              // Scopes to request in addition to 'profile' and 'email'
              //scope: 'additional_scope'
            });
          });
        }
    </script>
</head>
<body>

<div class="main">
    <div>
        <ul>
            <li><a href="/" class="active"><i class="fa fa-home fa-2x" style="color:white" aria-hidden="true"></i></a>
            </li>
            <li><a href="/my_profile"><i class="fa fa-user fa-2x" style="color:white" aria-hidden="true"></i></a></li>
            <li id="logout"><a href="#"><i class="fa fa-sign-out fa-2x" style="color:white" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
    <div class="contact1">
        <div class="container-contact1">
            Selleks, et tööga pihta hakata, on sul kaks võimalust
            <form class="md-form" action="/upload">
                <div class="file-field">
                    <div class="btn btn-primary btn-sm float-left">
                        <i class="fa fa-upload fa-2x" aria-hidden="true"></i>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload your file" readonly>
                    </div>
                </div>
                <button class="contact1-form-btn">
						<span>
							Lae üles .xslt fail
							<i class="fa fa-upload fa-2x" aria-hidden="true"></i>
						</span>
                </button>
            </form>
            <br/><br/><br/><br/>
            <div class="container-contact1-form-btn">
                <button class="contact1-form-btn">
						<span>
							Mine andmeid sisestama
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</span>
                </button>
            </div>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/tilt/tilt.jquery.min.js"></script>
<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})







</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');







</script>

<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>
