<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Töötaja haldussüsteem</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="485896048610-m7qu38fi7o06822jlpm8odo612a73pl7.apps.googleusercontent.com" content="AIzaSyDMMAvlcNTyJdo6Z4EZjQ08uofNWRStrIs.apps.googleusercontent.com">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
    <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous"></script>

    <!-- BEGIN Pre-requisites -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=onLoadCallback" async defer>
    </script>
    <!-- END Pre-requisites -->

    <script>

    // promise that would be resolved when gapi would be loaded
    var gapiPromise = (function(){
      var deferred = $.Deferred();
      window.onLoadCallback = function(){
        deferred.resolve(gapi);
      };
      return deferred.promise()
    }());
      window.onLoadCallback = function(){
            var authInited = gapiPromise.then(function(){
              gapi.auth2.init({
                client_id: '485896048610-rk8i4i4fkh9c1ss58207kl3ltoibpsaa.apps.googleusercontent.com',
                // Scopes to request in addition to 'profile' and 'email'
                //scope: 'additional_scope'
                });
            })

              gapiPromise.then(function(){
                // will be executed after gapi is loaded
              });

              authInited.then(function(){
                // will be executed after gapi is loaded, and gapi.auth2.init was called
                var profile = authInited.currentUser.get().getBasicProfile();
                var $name = $("#name");
                var $email = $("#email");

                $name.val(profile.getName());
                $email.val(profile.getEmail());
              });
      }

    </script>
</head>
<body>

<ul>
    <li><a href="/">Pealeht</a></li>
    <li><a href="/my_profile" class="active">Minu profiil</a></li>
    <li><a href="/logout">Logi välja</a></li>
</ul>
<div class="contact1">
    <div class="container-contact1">
        <form class="contact1-form validate-form">
				<span class="contact1-form-title">
					Minu profiil
				</span>

            <div class="wrap-input1 validate-input" data-validate="Name is required">
                <input class="input1" id="name" type="text" name="name" placeholder="Nimi">
                <span class="shadow-input1"></span>
            </div>
            <div class="wrap-input1 validate-input" data-validate="Kontakt">
                <input class="input1" id="contact" type="text" name="contact" placeholder="Kontakt">
                <span class="shadow-input1"></span>
            </div>
            <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.com">
                <input class="input1" id="email" type="text" name="email" placeholder="Email">
                <span class="shadow-input1"></span>
            </div>
            <div class="wrap-input1 validate-input" data-validate="Please enter Your BIO">
                <textarea class="input1" id="bio" name="bio" placeholder="Bio"></textarea>
                <span class="shadow-input1"></span>
            </div>

            <div class="container-contact1-form-btn">
                <button class="contact1-form-btn">
						<span>
							Salvesta
						</span>
                </button>
            </div>
        </form>
    </div>
</div>


<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/tilt/tilt.jquery.min.js"></script>
<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})




</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');




</script>

<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>
